In [2]:
import pandas as pd
import altair as alt
from datetime import timedelta
import numpy as np 

alt.data_transformers.enable("vegafusion")

DataTransformerRegistry.enable('vegafusion')

This file is for concating the historical cowichan and 2021 onwards data into one file.

In [3]:
salmon2 = salmon1 = pd.read_csv('data/data_salmon2.csv')
salmon2_cow_temp = salmon2[salmon2['watershed'] == 'cowichan'].reset_index()
salmon2_cow = salmon2_cow_temp[['date', 'species', 'site', 'count']]
salmon2_cow = salmon2_cow[salmon2_cow['species'].isin(['co', 'ck'])]

salmon2_cow.head()

         date species            site  count
1  2021-04-29      ck            70.2      2
2  2021-04-29      co            70.2     59
4  2021-04-29      co  mainstem fence      8
6  2021-04-30      co            70.2     16
8  2021-04-30      co  mainstem fence      6

In [4]:
site_dummies = pd.get_dummies(salmon2_cow['site'])

df_expanded = pd.concat([salmon2_cow, site_dummies], axis=1)
df_expanded = df_expanded.drop('site', axis=1)
df_expanded.head()

         date species  count   70.2  cow bay  mainstem fence  skutz  vimy pool
1  2021-04-29      ck      2   True    False           False  False      False
2  2021-04-29      co     59   True    False           False  False      False
4  2021-04-29      co      8  False    False            True  False      False
6  2021-04-30      co     16   True    False           False  False      False
8  2021-04-30      co      6  False    False            True  False      False

In [5]:
df_expanded['species'].unique()

array(['ck', 'co'], dtype=object)

In [6]:
cow = salmon1 = pd.read_csv('data/cowichan_historic.csv')
cow['species'] = cow['species'].str.lower()

cow.tail()

           date species  count
482  2020-11-20      co      4
483  2020-11-27      co      4
484  2020-11-28      co      2
485  2020-11-29      co      1
486  2020-12-03      co      1

In [7]:
cow['species'].unique()

array(['cn', 'rb', 'bt', 'ctt', 'co', 'st', 'lamprey', 'cm'], dtype=object)

In [8]:
df_long = pd.concat([cow, df_expanded]).reset_index(drop=True)
df_long.tail()

           date species  count   70.2 cow bay mainstem fence  skutz vimy pool
632  2023-06-05      co     31  False   False           True  False     False
633  2023-06-06      ck    590  False   False           True  False     False
634  2023-06-06      co     27  False   False           True  False     False
635  2023-06-07      ck    604  False   False           True  False     False
636  2023-06-07      co     36  False   False           True  False     False

In [9]:
df_long['species'].unique()

array(['cn', 'rb', 'bt', 'ctt', 'co', 'st', 'lamprey', 'cm', 'ck'],
      dtype=object)

In [10]:
df_long['species'] = df_long['species'].replace('cn', 'ck')

In [11]:
df_long.head()

         date species  count 70.2 cow bay mainstem fence skutz vimy pool
0  2014-05-01      ck      7  NaN     NaN            NaN   NaN       NaN
1  2014-05-02      ck     34  NaN     NaN            NaN   NaN       NaN
2  2014-05-07      ck     21  NaN     NaN            NaN   NaN       NaN
3  2014-05-08      ck    136  NaN     NaN            NaN   NaN       NaN
4  2014-05-13      ck     74  NaN     NaN            NaN   NaN       NaN

In [12]:
df_long_filter = df_long[df_long['species'].isin(['co', 'ck'])]
df_long_filter.head()

         date species  count 70.2 cow bay mainstem fence skutz vimy pool
0  2014-05-01      ck      7  NaN     NaN            NaN   NaN       NaN
1  2014-05-02      ck     34  NaN     NaN            NaN   NaN       NaN
2  2014-05-07      ck     21  NaN     NaN            NaN   NaN       NaN
3  2014-05-08      ck    136  NaN     NaN            NaN   NaN       NaN
4  2014-05-13      ck     74  NaN     NaN            NaN   NaN       NaN

In [13]:
species_dummies = pd.get_dummies(df_long_filter['species'])

df_expanded_1 = pd.concat([df_long_filter, species_dummies], axis=1)
df_expanded_1 = df_expanded_1.drop('species', axis=1)
df_expanded_1.head()

         date  count 70.2 cow bay mainstem fence skutz vimy pool    ck     co
0  2014-05-01      7  NaN     NaN            NaN   NaN       NaN  True  False
1  2014-05-02     34  NaN     NaN            NaN   NaN       NaN  True  False
2  2014-05-07     21  NaN     NaN            NaN   NaN       NaN  True  False
3  2014-05-08    136  NaN     NaN            NaN   NaN       NaN  True  False
4  2014-05-13     74  NaN     NaN            NaN   NaN       NaN  True  False

In [14]:
df_expanded_1.to_csv('data/salmon_concat.csv', index = False)

In [15]:
kk = alt.Chart(df_expanded_1).mark_line(point=False, color = 'yellow').encode(
    x='date:T',  
    y='count:Q' 
)
kk

alt.Chart(...)