In [17]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import json
import sys
sys.path.append("..")
from scripts.process import *
from scripts.predict import *

In [18]:
field = pd.read_csv('../data/new_field.csv')

with open('../data/det.json', 'r') as file:
    det_table = json.load(file)

In [19]:
det = pd.DataFrame(det_table)
det.head()

,species,eye_size,snout_shape,parr_marks,parr_marks_length,spotting_density,fin_type,parr_marks_spacing,spotting_characteristic
0,ck,large,pointy,slightly faded,long,medium,anal fin,wider than interspaces,circle
1,co,large,short and blunt,slightly faded,long,medium,anal fin,narrower than interspaces,circle
2,cm,medium,NA,faded,short,medium,caudal fin,NA,variable
3,pink,medium,NA,NA,NA,NA,caudal fin,half,NA
4,so,very large,NA,slightly faded,irregular,NA,caudal fin,variable,row

In [20]:
field.head()

,tag_id_long,watershed,river,site,method,local,water_temp_start,fork_length_mm,species
0,989.001038884511,nanaimo,nanaimo,jack point,beach seine,marine,10.6,80.0,ck
1,989.001038885629,nanaimo,nanaimo,jack point,beach seine,marine,13.3,NaN,ck
2,989.001038888882,nanaimo,nanaimo,jack point,beach seine,marine,14.1,76.0,ck
3,989.001038889013,nanaimo,nanaimo,jack point,beach seine,marine,10.6,76.0,ck
4,989.001038888642,nanaimo,nanaimo,jack point,beach seine,marine,10.6,85.0,ck

In [21]:
processed_data = processing(data=field, det_data=det_table)

In [22]:
processed_data.head()

,tag_id_long,water_temp_start,fork_length_mm,species,watershed_black creek,watershed_chemainus,watershed_cowichan,watershed_englishman,watershed_koksilah,watershed_nanaimo,...,parr_marks_spacing_NA,parr_marks_spacing_half,parr_marks_spacing_narrower than interspaces,parr_marks_spacing_variable,parr_marks_spacing_wider than interspaces,spotting_characteristic_NA,spotting_characteristic_circle,spotting_characteristic_irregular,spotting_characteristic_row,spotting_characteristic_variable
0,989.001038884511,10.6,80.0,ck,0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
1,989.001038885629,13.3,None,ck,0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
2,989.001038888882,14.1,76.0,ck,0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
3,989.001038889013,10.6,76.0,ck,0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
4,989.001038888642,10.6,85.0,ck,0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0

In [33]:
det_data,prob_data = preprocess_data(processed_data)

In [34]:
det_data

,tag_id_long,species,eye_size_large,eye_size_medium,eye_size_small,eye_size_very large,snout_shape_NA,snout_shape_long and pointy,snout_shape_pointy,snout_shape_short and blunt,...,parr_marks_spacing_NA,parr_marks_spacing_half,parr_marks_spacing_narrower than interspaces,parr_marks_spacing_variable,parr_marks_spacing_wider than interspaces,spotting_characteristic_NA,spotting_characteristic_circle,spotting_characteristic_irregular,spotting_characteristic_row,spotting_characteristic_variable
0,989.001038884511,ck,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
1,989.001038885629,ck,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
2,989.001038888882,ck,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
3,989.001038889013,ck,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
4,989.001038888642,ck,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62266,989.001039718510,stl,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
62267,989.001039718574,stl,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
62268,989.001039718554,stl,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
62269,989.001039718564,stl,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
62270,989.001039718495,stl,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [35]:
def voting_classifier_deterministic(data):
    random_numbers = [42, 231, 351, 701, 996, 523, 710, 686, 568, 268]

    X = data.drop(['species','tag_id_long'], axis=1)
    y = data['species']
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

    models = []
    for num ain random_numbers:
        max_depth = 8
        dt = DecisionTreeClassifier(max_depth=max_depth, random_state=num)
        dt.fit(X_train, y_train)
        models.append(dt)
        
    all_predictions = []
    for dt in models:
        predictions = dt.predict(X)
        all_predictions.append(predictions)

    final_predictions = []
    for i in range(len(X)):
        row_predictions = [pred[i] for pred in all_predictions]
        prediction = max(set(row_predictions), key=row_predictions.count)
        final_predictions.append(prediction)

    det_data['prediction'] = final_predictions

    return det_data[['tag_id_long','prediction']]

In [36]:
det_results = voting_classifier_deterministic(processed_data)

/var/folders/lm/f4vflx8j7zb3ss_jvkypsczw0000gn/T/ipykernel_263/3863159191.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  det_data['prediction'] = final_predictions

In [37]:
prob_results = pd.DataFrame(columns=['tag_id_long','pred_2','pred_4'])
prob_results

Empty DataFrame
Columns: [tag_id_long, pred_2, pred_4]
Index: []

In [71]:
def voting_classifier(det_results,prob_results):
    df = det_results.merge(prob_results,on='tag_id_long',how='left')
    df.columns = ['tag_id_long','pred_1','pred_2','pred_3']

    ensemble_pred = []
    for row in range(len(df)):
        predictions = []
        prediction = [df.iloc[row]['pred_1'],
                      df.iloc[row]['pred_2'],
                      df.iloc[row]['pred_3']]
        if 'pink' in predictions:
            ensemble_pred.append('pink')
        elif 'so' in predictions:
            ensemble_pred.append('so')
        else:
            ensemble_pred.append(max(set(prediction), key=prediction.count))


    df['prediction'] = ensemble_pred
    
    return df

In [73]:
df = voting_classifier(det_results,prob_results)

In [74]:
df

            tag_id_long pred_1 pred_2 pred_3  prediction
0      989.001038884511     ck    NaN    NaN         NaN
1      989.001038885629     ck    NaN    NaN         NaN
2      989.001038888882     ck    NaN    NaN         NaN
3      989.001038889013     ck    NaN    NaN         NaN
4      989.001038888642     ck    NaN    NaN         NaN
...                 ...    ...    ...    ...         ...
62266  989.001039718510    stl    NaN    NaN         NaN
62267  989.001039718574    stl    NaN    NaN         NaN
62268  989.001039718554    stl    NaN    NaN         NaN
62269  989.001039718564    stl    NaN    NaN         NaN
62270  989.001039718495    stl    NaN    NaN         NaN

[62271 rows x 5 columns]