In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import json
import sys
sys.path.append("..")
from scripts.process import *
from scripts.predict import *

In [2]:
field = pd.read_csv('../data/new_field.csv')

with open('../data/det.json', 'r') as file:
    det_table = json.load(file)

In [3]:
det = pd.DataFrame(det_table)
det.head()

,species,eye_size,snout_shape,parr_marks,parr_marks_length,spotting_density,fin_type,parr_marks_spacing,spotting_characteristic
0,ck,large,pointy,slightly faded,long,medium,anal fin,wider than interspaces,circle
1,co,large,short and blunt,slightly faded,long,medium,anal fin,narrower than interspaces,circle
2,cm,medium,NA,faded,short,medium,caudal fin,NA,variable
3,pink,medium,NA,NA,NA,NA,caudal fin,half,NA
4,so,very large,NA,slightly faded,irregular,NA,caudal fin,variable,row

In [4]:
field.head()

,tag_id_long,watershed,river,site,method,local,water_temp_start,fork_length_mm,species
0,989.001038884511,nanaimo,nanaimo,jack point,beach seine,marine,10.6,80.0,ck
1,989.001038885629,nanaimo,nanaimo,jack point,beach seine,marine,13.3,NaN,ck
2,989.001038888882,nanaimo,nanaimo,jack point,beach seine,marine,14.1,76.0,ck
3,989.001038889013,nanaimo,nanaimo,jack point,beach seine,marine,10.6,76.0,ck
4,989.001038888642,nanaimo,nanaimo,jack point,beach seine,marine,10.6,85.0,ck

In [5]:
processed_data = processing(data=field, det_data=det_table)

In [6]:
processed_data.head()

,tag_id_long,water_temp_start,fork_length_mm,species,watershed_black creek,watershed_chemainus,watershed_cowichan,watershed_englishman,watershed_koksilah,watershed_nanaimo,...,parr_marks_spacing_NA,parr_marks_spacing_half,parr_marks_spacing_narrower than interspaces,parr_marks_spacing_variable,parr_marks_spacing_wider than interspaces,spotting_characteristic_NA,spotting_characteristic_circle,spotting_characteristic_irregular,spotting_characteristic_row,spotting_characteristic_variable
0,989.001038884511,10.6,80.0,ck,0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
1,989.001038885629,13.3,None,ck,0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
2,989.001038888882,14.1,76.0,ck,0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
3,989.001038889013,10.6,76.0,ck,0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
4,989.001038888642,10.6,85.0,ck,0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0

In [7]:
det_data,prob_data = preprocess_data(processed_data)

In [8]:
prob_data.head()

,tag_id_long,species,water_temp_start,fork_length_mm,watershed_cowichan,watershed_englishman,watershed_nanaimo,watershed_puntledge,river_center creek,river_cowichan,...,snout_shape_short and rounded,parr_marks_NA,parr_marks_faded,parr_marks_slightly faded,parr_marks_length_long,parr_marks_length_short,spotting_density_high,spotting_density_medium,fin_type_anal fin,fin_type_caudal fin
0,989.001038884511,ck,10.6,80.0,0,0,1,0,0,0,...,0,0,0,1,1,0,0,1,1,0
1,989.001038885629,ck,13.3,None,0,0,1,0,0,0,...,0,0,0,1,1,0,0,1,1,0
2,989.001038888882,ck,14.1,76.0,0,0,1,0,0,0,...,0,0,0,1,1,0,0,1,1,0
3,989.001038889013,ck,10.6,76.0,0,0,1,0,0,0,...,0,0,0,1,1,0,0,1,1,0
4,989.001038888642,ck,10.6,85.0,0,0,1,0,0,0,...,0,0,0,1,1,0,0,1,1,0

In [9]:
det_data.head()

,tag_id_long,species,eye_size_large,eye_size_medium,eye_size_small,eye_size_very large,snout_shape_NA,snout_shape_long and pointy,snout_shape_pointy,snout_shape_short and blunt,...,parr_marks_spacing_NA,parr_marks_spacing_half,parr_marks_spacing_narrower than interspaces,parr_marks_spacing_variable,parr_marks_spacing_wider than interspaces,spotting_characteristic_NA,spotting_characteristic_circle,spotting_characteristic_irregular,spotting_characteristic_row,spotting_characteristic_variable
0,989.001038884511,ck,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
1,989.001038885629,ck,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
2,989.001038888882,ck,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
3,989.001038889013,ck,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
4,989.001038888642,ck,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0

In [10]:
det_results = voting_classifier_deterministic(det_data)

/Users/arturorey/git/MDS/591/Bottlenecks_MDS_Capstone/mds_deliverables/species_prediction_model/demo/../scripts/predict.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['prediction'] = final_predictions

In [11]:
prob_results = voting_classifier_probabilistic(prob_data)

Epoch 1/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 499us/step - accuracy: 0.5081 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 2/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 448us/step - accuracy: 0.5102 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 3/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 499us/step - accuracy: 0.5112 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 4/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 493us/step - accuracy: 0.5078 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 5/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 495us/step - accuracy: 0.5074 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 6/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 468us/step - accuracy: 0.5110 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 7/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 488us/step - accuracy: 0.5035 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 8/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 441us/step - accuracy: 0.5101 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 9/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 442us/step - accuracy: 0.5097 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 10/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 441us/step - accuracy: 0.5060 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 11/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 440us/step - accuracy: 0.5132 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 12/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 441us/step - accuracy: 0.5086 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 13/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 440us/step - accuracy: 0.4987 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 14/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 443us/step - accuracy: 0.5086 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 15/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 442us/step - accuracy: 0.5075 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 16/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 446us/step - accuracy: 0.5102 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 17/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 442us/step - accuracy: 0.5047 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 18/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 443us/step - accuracy: 0.5076 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 19/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 444us/step - accuracy: 0.5096 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
Epoch 20/20
1246/1246 ━━━━━━━━━━━━━━━━━━━━ 1s 439us/step - accuracy: 0.5113 - loss: nan - val_accuracy: 0.5177 - val_loss: nan
1946/1946 ━━━━━━━━━━━━━━━━━━━━ 1s 249us/step

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [12]:
prob_results.head()

        tag_id_long dt_prediction  dl_prediction
0  989.001038884511            ck            NaN
1  989.001038885629            ck            NaN
2  989.001038888882            ck            NaN
3  989.001038889013            ck            NaN
4  989.001038888642            ck            NaN

In [15]:
def voting_classifier(det_results,prob_results):
    df = det_results.merge(prob_results,on='tag_id_long',how='left')
    df.columns = ['tag_id_long','pred_1','pred_2','pred_3']

    ensemble_pred = []
    for row in range(len(df)):
        prediction = [df.iloc[row]['pred_1'],
                      df.iloc[row]['pred_2'],
                      df.iloc[row]['pred_3']]
        if 'pink' in prediction:
            ensemble_pred.append('pink')
        elif 'so' in prediction:
            ensemble_pred.append('so')
        else:
            ensemble_pred.append(max(set(prediction), key=prediction.count))


    df['prediction'] = ensemble_pred
    
    return df

In [16]:
df = voting_classifier(det_results,prob_results)

In [17]:
df

             tag_id_long pred_1 pred_2 pred_3 prediction
0       989.001038884511     ck     ck     ck         ck
1       989.001038884511     ck     ck     ck         ck
2       989.001038885629     ck     ck     ck         ck
3       989.001038888882     ck     ck     ck         ck
4       989.001038889013     ck     ck     ck         ck
...                  ...    ...    ...    ...        ...
178996               NaN   pink    stl     ck       pink
178997               NaN   pink    stl     ck       pink
178998               NaN   pink    stl     ck       pink
178999               NaN   pink    stl     ck       pink
179000               NaN   pink    rbt     ck       pink

[179001 rows x 5 columns]